---
---

@import "{{ site.theme }}";

.page-header {
    background-image: url('../images/FLEX\ banner\ gh-pages.png') !important;
    background-size: cover;
    background-position: center top;
}

body {
    background-color: #181a1b;
    color: #a69e93;
}

.main-content h1, .main-content h2, .main-content h3 {
    color: #67eaa9;
}

a {
    color: #65ace6;
    text-decoration-color: initial;
}